# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Data
/data/
*.keras
*.tflite

# Images (large)
*.png
*.jpg

# Node
node_modules/
dist/

# Android
.gradle/
build/
local.properties
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
